<mat-card class="art-card">
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="'url(' + imgUrl + ')'" class="header-image"></div>
    <mat-card-title>{{artWorkData.name}}</mat-card-title>
    <mat-card-subtitle>{{getTranslationKey | translate}}</mat-card-subtitle>
    <button class="card-menu-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>{{'COMMON.EDIT' | translate}}</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>{{'COMMON.DELETE' | translate}}</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <img mat-card-image [src]="imgUrl" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{artWorkData.description}}
    </p>
  </mat-card-content>
</mat-card>
