<h1 mat-dialog-title>{{dialogTitle | async}}</h1>

<div>
  <form [formGroup]="artWorkForm">
<!--    NAME    -->
    <mat-form-field appearance="fill">
      <mat-label>{{'ART-MANAGEMENT.DIALOG.NAME' | translate}}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
<!--    TYPE    -->
    <mat-form-field appearance="fill">
      <mat-label>{{'ART-MANAGEMENT.DIALOG.TYPE' | translate}}</mat-label>
      <mat-select formControlName="type">
        <mat-option [value]="art_types.SCULPTURE">{{'ART-MANAGEMENT.DIALOG.TYPES.SCULPTURE' | translate}}</mat-option>
        <mat-option [value]="art_types.ARCHITECTURE">{{'ART-MANAGEMENT.DIALOG.TYPES.ARCHITECTURE' | translate}}</mat-option>
        <mat-option [value]="art_types.PICTURES">{{'ART-MANAGEMENT.DIALOG.TYPES.PICTURES' | translate}}</mat-option>
        <mat-option [value]="art_types.PHOTOS">{{'ART-MANAGEMENT.DIALOG.TYPES.PHOTOS' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
<!--    DESCRIPTION   -->
    <mat-form-field appearance="fill">
      <mat-label>{{'ART-MANAGEMENT.DIALOG.DESCRIPTION' | translate}}</mat-label>
      <textarea matInput
                formControlName="description"
                cdkTextareaAutosize
                cdkAutosizeMinRows="8"
                cdkAutosizeMaxRows="15"
      ></textarea>
    </mat-form-field>
  </form>
<!--IMAGES-->
  <div class="images">
    <div class="upload-drop-zone">
<!--      <span>{{'ART-MANAGEMENT.DIALOG.DROP-FILES' | translate}}</span>-->
<!--      <mat-icon class="file-upload-icon">file_upload</mat-icon>-->
<!--      <span>{{'COMMON.OR' | translate}}</span>-->
      <button type="button" color="primary" class="upload-icon-btn" mat-raised-button (click)="fileInput.click()">
        {{'ART-MANAGEMENT.DIALOG.BROWSE' | translate}}
      </button>
      <input accept=".jpg,.jpeg,.png" multiple hidden (input)="onImageSelected($event)" #fileInput type="file" id="file">
      <mat-error *ngIf="filesCountError">
        {{'ART-MANAGEMENT.DIALOG.ERRORS.IMAGE_COUNT' | translate}}
      </mat-error>
      <div class="uploaded-images" *ngIf="uploadedImages.length !== 0 || imagesPreviews.length !== 0">
        <div *ngFor="let src of imagesPreviews; index as imgIdx" class="image-prev">
          <img width="100px" height="100px" [src]="src">
          <button mat-icon-button>
            <mat-icon class="delete-uploaded-files-icon" (click)="deleteSelectedFile(imgIdx)">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="modal-actions">
  <button mat-button [mat-dialog-close]>{{'COMMON.CANCEL' | translate}}</button>
  <button [disabled]="artWorkForm.invalid" mat-button (click)="submit()">{{submitBtnName | async}}</button>
</div>
