<app-header></app-header>


<mat-tab-group>
  <mat-tab label="{{'MAIN.TABS.ARTS' | translate}}">
    <div class="tab">
      <app-art-management-panel (addEvent)="addNewArtWorkHandler()"></app-art-management-panel>
      <div class="cards-wrapper">
        <app-art-card (delete)="artWorkDeleteHandler($event)" *ngFor="let artWork of artWorks$ | async" [artWorkData]="artWork"></app-art-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="{{'MAIN.TABS.USERS' | translate}}">
    <span>There will be user filtration panel</span>
    <br>
    <span>There will be user information</span>
  </mat-tab>
</mat-tab-group>

