$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max and $max > 0, $max - .02, null);
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

$modhyobitto-colors: (
  primary: #7cb342,
  primary-light: #aee571,
  primary-dark: #4b830d,

  notification: #B00020,
  subtle-bg: #EEEEEE,
  default-text: #000000,

  disabled-text: rgb(0,0,0,0.26),
  disabled-bg: rgb(0,0,0,0.12),
  divider: rgb(0,0,0,0.12)
);

.modhyobitto-file-uploader{
  background-color: map-get($modhyobitto-colors, subtle-bg);
  border: 2px dashed map-get($modhyobitto-colors, primary);
  padding: 3rem;
  @include media-breakpoint-down(lg) {
    padding: 2rem;
  }
  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }
  .files-for-upload{
    margin-bottom: 3rem;
    .selected-file{
      border-radius: 0;
      font-family: 'Roboto', sans-serif;
      &:not(:last-of-type){
        margin-bottom: 1rem;
      }
      .mat-expansion-panel-header{
        cursor: default;
        height: auto;
        padding: 0;
        &[aria-disabled=true]{
          color: inherit;
        }
        .selected-file__header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .selected-file__name{
            color: map-get($modhyobitto-colors, primary-dark);
            overflow: hidden;
            padding: 0 1.5rem;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .selected-file__actions{
            display: flex;
            justify-content: flex-end;
            button{
              display: flex;
              align-items: center;
              min-width: 0;
              padding: 0 15px;
            }
          }
        }
        &.mat-expanded{
          .selected-file__header{
            border-bottom: solid 1px map-get($modhyobitto-colors, divider);
          }
        }
        .mat-content{
          display: block;
        }

      }
      .mat-expansion-panel-body{
        padding-top: 1rem;
        .selected-file__upload--error{
          color: map-get($modhyobitto-colors, notification);
        }
      }


    }
  }
  .file-uploader__instructions{
    color: map-get($modhyobitto-colors, primary);
    margin-bottom: 3rem;
    padding: 0 1rem;
    text-align: center;
    @include media-breakpoint-down(lg) {
      margin-bottom: 2rem;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }
  .file-upload__options{
    display: flex;
    justify-content: center;
    button{
      &.all_file__upload, &.all_file__cancel{
        display: flex;
        align-items: center;
        border-left: 2px solid map-get($modhyobitto-colors, subtle-bg);
        min-width: 0;
        padding: 0 15px;
      }
    }
    .file-upload__native-selection{
      display: none;
    }
  }
}
