:host {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}


.login-form-container {
  align-self: center;
  width: 40%;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13pt;

    mat-form-field {
      margin-bottom: 1%;
    }

    button {
      padding: 10px;
      font-size: 13pt;
    }
  }
}

@media (max-width: 414px) {
  .login-form-container {
    width: 80%;
  }
}

@media (min-width: 1100px) {
  .login-form-container {
    width: 20%;
  }
}
